.a4-1
{
position:absolute;
background-color:#ffffff;
height:842px;
width:595px;
padding:0px;
}
.bersihlaundry
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
left:355px;
top:80px;
position:absolute;
width:178px;
}
.buktitransaksi
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
left:209px;
top:156px;
width:181px;
height:29px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.notransaksi
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:65px;
top:237px;
width:102px;
height:19px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.item
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:65px;
top:346px;
width:35px;
height:19px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.servis
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:162px;
top:346px;
width:50px;
height:19px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.harga
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:268px;
top:346px;
width:47px;
height:19px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.jumlah
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:365px;
top:346px;
width:58px;
height:19px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.total
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:475px;
top:346px;
width:40px;
height:19px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.item2
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:65px;
top:422px;
width:34px;
height:19px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.servis2
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:162px;
top:422px;
width:47px;
height:19px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.harga2
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:268px;
top:422px;
width:46px;
height:19px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.jumlah2
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:365px;
top:422px;
width:55px;
height:19px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.total2
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:475px;
top:422px;
width:38px;
height:19px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.nama
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:65px;
top:268px;
width:45px;
height:19px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.c00000
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:183px;
top:237px;
width:59px;
height:19px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.nama2
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:183px;
top:268px;
width:51px;
height:19px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.paket
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:356px;
top:237px;
width:45px;
height:19px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.nama3
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:356px;
top:268px;
width:67px;
height:19px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.c000002
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:457px;
top:237px;
width:59px;
height:19px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.nama4
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:457px;
top:268px;
width:51px;
height:19px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.logo1
{
height:100px;
width:100px;
left:65px;
top:44px;
position:absolute;
}
.line1
{
width:467.99957275390625px;
transform:rotate(-1deg);
border:1px solid #000000;
top:321px;
left:65px;
position:absolute;
}
.line2
{
width:467.99957275390625px;
transform:rotate(-1deg);
border:1px solid #000000;
top:393px;
left:65px;
position:absolute;
}
